# Entornos virtuales locales
.venv/
__pycache__/
*.pyc

# Variables de entorno y llaves (¡CRÍTICO!)
.env

# Datos persistentes locales de Docker (Bases de datos y configs)
data/
n8n_data/

# Exports de n8n (pueden contener IDs de credenciales internas)
n8n_workflow_*.json

# Archivos del sistema operativo
.DS_Store
Thumbs.db